@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles absolutely required for Lenis to function */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  /* A dark mode base for the developer-focused theme */
  @apply bg-slate-950 text-slate-50 antialiased; 
}